@use 'variables' as v;

%hover-black {
    &:hover {
        cursor: pointer;
        color: v.$color_black;
    }
}

%hover-black-icon {
    &:hover {
        cursor: pointer;
        stroke: v.$color_black;
    }
}

%hover-light {
    transition: all 0.3s ease;
    
    &:hover {
        opacity: 0.7;
        // или любой другой эффект, который тебе нужен
    }
}